<br>
<p>Gossip's Title : <%=@gossip.title%></p>
<p>Gossip's Content : <%=@gossip.gossip_content%></p>
<p>Created @ : <%=@gossip.created_at%></p>
<a href="<%= gossips_path %>" class="btn btn-primary"> Come back to Gossips?</a>
